<div class="content">
    <p-panel header="List Post" [toggleable]="false" [style]="{'margin-bottom':'20px', 'width':'100%'}">
            <div class="p-grid p-col-12 p-md-12 p-lg-12" style="margin-top:10px">
                <div class="p-col-6 p-md-6 p-lg-6" style="text-align: right;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Cari Judul" [(ngModel)]="cariJudul"
                            (keyup.enter)="cari()" />
                    </span>
                </div>
                <div class="p-col-5 p-md-5 p-lg-5" style="text-align: left;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-filter"></i>
                        <p-cascadeSelect icon="pi pi-filter" [(ngModel)]="selectedFilter" [options]="jenisFilter"
                            optionLabel="itemName" optionGroupLabel="name" [optionGroupChildren]="['items']"
                            [style]="{'minWidth': '14rem'}" placeholder="Pilih Filter" (onChange)="filtering()"></p-cascadeSelect>
                    </span> &nbsp;
                </div>
            </div>
        <br>
        <div *ngIf="selectedFilter">
            <h4>Data difilter berdasarkan {{ketFilter}}</h4>
        </div>
        <p-card [style]="{'width': '100%', 'margin-bottom': '2em'}" *ngFor="let content of contents"
            [header]="content.judul">
            <div>
                {{(readMore) ? content.isi : content.isi | slice:0:100}} <span *ngIf="!readMore">...</span> <br>
                <a *ngIf="!readMore" (click)="readMore=true" style="color: blue;">[Read More]</a>
                <a *ngIf="readMore" (click)="readMore=false" style="color: blue;">[Read Less]</a>
            </div>
        </p-card>
    </p-panel>

</div>