/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  float: left;
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1000px;
  flex-direction: column;
  align-items: left;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

body {
    font-size: 16px;
  }
  .layout-wrapper .layout-main {
    padding: 70px 15px 15px 15px;
  }
  
  body .ui-widget-content, .ui-widget, body .ui-widget .ui-widget {
    font-size: 12px;
  }
  .p-grid {
    margin-top: 0em;
    margin-right: 0em;
  }
  .p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12 {
    /* padding: .2em; */
    padding: .15em 0 .15em .5em;
  }
  .ui-g {
    margin-top: 0em;
  }
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    /* padding: .2em; */
    padding: .15em 0 .15em .5em;
  }
  /*.layout-main {
     background: url(assets/img/background_sakti2.png) no-repeat center top;
    background-size: cover;
    height: 650px;
  }*/
  .ui-card-body {
    box-shadow: none;
  }
  
  .historyLogin{
    float: left;
    margin-top: 8px;
    margin-left: 24px;
    position: relative;
    color: #fff;
    font-size: 11px;
  }
  
   .layout-wrapper .topbar .topbar-right #menu-button {
    width: 24px;
    height: 24px;
    /* left: 284px; */
    margin-top: 5px;
  }
  
  .layout-wrapper .topbar .topbar-right #menu-button i {
    font-size: 24px;
  }
  .layout-wrapper .layout-menu li a {
    display: block;
    padding: 7px 10px 3px 3px;
  }
  
  .layout-wrapper .layout-menu li a i.menuitem-toggle-icon {
    font-size: 12px;
  }
  
  .layout-wrapper .layout-menu li a span {
    display: contents;
  }
  .layout-wrapper .layout-menu li a i:first-child {
    margin-right: 5px;
    font-size: 12px;
  }
  .layout-wrapper .layout-menu li ul li a {
    padding: 3px 15px 3px 20px;
  }
  .layout-wrapper .layout-menu li ul li a i:first-child {
    margin-right: 5px;
    font-size: 12px;
  }
  .layout-wrapper .layout-menu li ul li ul li a {
    padding-left: 38px;
  }
  .layout-wrapper .layout-menu {
    font-size: 12px;
  }
  
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-menu-container {
    margin-left: -305px;
  }
  body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td, body .ui-table .ui-table-tfoot > tr > td {
    padding: 3px 2px;
    font-size: 11px;
    border: solid 1px #666;
  }
  body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td, body .ui-table .ui-table-tfoot > tr > td {
    color: #666;
    background:  #ddd;
    border: solid 1px #666;
  }
  /* body .ui-messages.ui-messages-warn { */
    /* background-color: #fcf8e3; */
    /* background-color: #cc0000; */
    /* color: #8a6d3b; */
    /* color: #fff; */
  /* } */
  body .ui-treetable .ui-treetable-tbody > tr > td {
    padding: 3px 8px;
  }
  body .ui-treetable p-treeTableToggler {
    margin-left: -20px;
  }
  body .ui-table .ui-paginator {
    margin: 0;
  }
  body .ui-treetable .ui-treetable-tbody > tr > td {
    padding: 3px 8px;
  }
  
  .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
    padding: 5px 10px;
    font-size: 1em;
  }
  
  .ui-unselectable-text {
    margin-left: 15px;
  }
  
  .ui-g.form-group > div {
    padding: 5px;
  }
  
  .ui-paginator .ui-paginator-pages {
    height: auto;
  }
  
  .tableJeje  .ui-paginator {
    text-align : right !important;
  }
  
  .tableJeje  p-dropdown {
    position: absolute !important;
    /* //float: left !important; */
    left: 10px !important;
  }
  
  .tableJeje  p-dropdown::before {
    content : 'Per page :';
  }
  
  .tableJeje  p-dropdown::after {
    content : '';
  }
  
  .buttonJeje app-crud-button .ui-toolbar {
    background-color: transparent !important;
    border: none !important;
    padding: 10px 0px !important;
  }
  
  body .ui-tabview.ui-tabview-top .ui-tabview-nav li a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
    padding: 8px 20px;
    color: #0782cf;
    font-weight: bold;
  }
  body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #eef2f6;
  }
  
  .ui-tabview-nav .ui-state-disabled a {
    color: grey !important;
  }
  
  .ui-tabview-nav .ui-state-disabled  {
    outline: none !important;
  }
  
  .card {
    padding: 0;
  }
  
  body .ui-fieldset {
    /* padding: 0 0 0.5em 0; */
    margin: 0;
    margin-top: 5px;
  }
  body .ui-fieldset .ui-fieldset-content {
    padding: 5px 10px;
  }
  .ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: .2em 1em .3em .5px;
  }
  body .ui-fieldset .ui-fieldset-legend {
    font-weight: bold;
    font-size: 100%;
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 4px;
  }
  body .ui-button.ui-button-text-only .ui-button-text {
    padding: 3px 8px;
  }
  body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 3px 25px;
  }
  body .ui-inputtext .ui-button.ui-button-text-only .ui-button-text {
    padding: 0 12px;
  }
  .ui-fluid .ui-inputtext {
    font-size: 12px;
  }
  body .ui-inputtext {
   padding: 3px 7px;
  }
  textarea {
    /* width: 100%;  */
    border: thin solid #ccc;
    border-radius: 4px;
  }
  
  body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 3px 6px;
  }
  
  body .ui-dialog .ui-dialog-titlebar {
    padding: .5em 1em;
  }
  
  th {
    background: #4D9FFF;
  }
  
  .layout-wrapper .topbar .topbar-right #topbar-menu-button i {
    font-size: 30px;
  }
  
  .layout-wrapper .layout-footer {
    padding: 5px 20px;
  }
  
  .layout-footer {
    bottom: 0px;
    position: fixed;
    min-width: 100%;
    margin: 0 auto;
    background: #fff;
  }
  .ui-fluid .ui-button {
    width: auto;
  }
  
  .ui-toast-message {
    white-space: pre-wrap;
  }
  
  label {
    font-weight: bold;
  }
  
  #dp_widget_container iframe[name="widget_trigger_iframe"] {
    display: none !important;
  }
  
  .layout-wrapper .layout-footer .footer-text-right img {
    cursor: pointer;
    height: 30px;
    opacity: 0.7;
  }
  
  .layout-wrapper .layout-footer .footer-text-right img:hover,
  .layout-wrapper .layout-footer .footer-text-right img:active,
  .layout-wrapper .layout-footer .footer-text-right img:focus {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.7s ease;
  }
  
  
  @media (min-width: 1025px) {
    .layout-wrapper.menu-layout-static .layout-footer {
      padding-right: 250px;
      transition: all 0.3s;
    }
  
    .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-footer {
      padding-right: 20px;
      transition: all 0.3s;
    }
  }
  
  ul.search-sidebar {
    position: relative;
  }
  
  ul.search-sidebar li {
    position: relative;
    list-style: none;
    display: block;
    margin: 10px 0;
    padding-right: 5px;
    cursor: pointer;
  }
  
  ul.search-sidebar li::before {
    content: '';
    position: absolute;
    top:2px;
    left:-30px;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    border: 2px solid #2E76EE;
    box-sizing: border-box;
  }
  
  ul.search-sidebar li:hover:before {
    background: #2E76EE;
    transition-delay: 0s, 0.5s;
  }
  
  ul.search-sidebar li a{
    position: relative;
    z-index: 10;
    padding: 5px 10px;
  }
  
  .layout-wrapper .layout-menu-container::-webkit-scrollbar {
    display: none;
  }

  body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
    padding: 1.5em;
  }
  body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span {
    float: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    margin: 0;
  }