<div class="topbar px-0">
    <div class="topbar">
        <div class="container" style="  display: flex; align-items: center; justify-content: left; padding-left: 10px;">

            <div class="image">
                <a routerLink="main"><img src="./../../../../assets/sakti_topbar.png"></a>
            </div>
            <div class="image">
                <!-- <div class="menu-button">
                    <button type="button" pButton icon="pi pi-bars" icon="fa fa-angle-left" (click)="menu.toggle($event)"></button>
                    <p-menu #menu class="sidebar" [popup]="true" [model]="items"></p-menu>
                </div> -->
            </div>

            <div class="text" style="width: 100%;">
                <h2 style="color: #fff; text-align: center;" >SAKTI NEWS</h2>
            </div>
        </div>
    </div>
</div>

<app-menu></app-menu>
